<section class="container">
  <div class="about">
    <p class="welcome">{{ "about.welcome" | translate }}</p>
    <h2>{{ "about.aboutme" | translate }}</h2>
    <p class="info">
      {{ "about.info" | translate }}
    </p>
    <p class="info">
      {{ "about.info2" | translate }}
    </p>

    <h3>{{ "about.hobbies" | translate }}</h3>

    <div class="hobbies">
      <img src="./assets/icons/games.svg" />
      <img src="./assets/icons/book.svg" />
      <img src="./assets/icons/music.svg" />
      <img src="./assets/icons/gym.svg" />
    </div>
  </div>

  <div class="image">
    <div class="image-container">
      <div class="background"></div>
      <img src="./assets/images/code.jpg" />
    </div>
    <div class="finished">
      <p class="quantity">{{ projectsNumber }}</p>
      <p class="text">
        {{ "about.projects" | translate }}{{ projectsNumber !== 1 ? "s" : "" }}
        {{ "about.finished" | translate }}
        {{ projectsNumber !== 1 && currentLanguage === "es" ? "s" : "" }}
      </p>
    </div>
  </div>
</section>
