<section class="container">
  <div class="habilities" *ngIf="skills">
    <h4 class="subtitle">{{ "skills.subtitle" | translate }}</h4>
    <h2>{{ "skills.title" | translate }}</h2>

    <div class="skills">
      <div class="skill" *ngFor="let skill of skills">
        <div class="titles">
          <h3>{{ skill.name }}</h3>
          <p>{{ skill.know }}%</p>
        </div>
        <div class="info">
          <div class="quantity" [ngStyle]="{ width: skill.know + '%' }"></div>
        </div>
      </div>
    </div>

    <h4 class="subtitle">{{ "skills.whatido" | translate }}</h4>
    <h2>{{ "skills.titleWhat" | translate }}</h2>

    <div class="what-i-do">
      <what-ido-card
        *ngFor="let iDo of whatIDo"
        [title]="iDo.title"
        [icon]="iDo.icon"
        [content]="iDo.content"
      ></what-ido-card>
    </div>
  </div>

  <div class="loading-container" *ngIf="!skills">
    <general-loading></general-loading>
  </div>

  <div class="hireme">
    <p class="available">
      {{ "skills.iam" | translate }}
      <span>{{ "skills.available" | translate }}</span>
      {{ "skills.toWork" | translate }}
    </p>

    <a class="button" href="#contact">
      {{ "header.hireme" | translate }}
    </a>
  </div>
</section>
