<ng-container *ngIf="project">
  <div class="container project">
    <img [src]="project.image" />

    <div class="info">
      <h3>{{ project.name }}</h3>
      <p class="title">{{ "achievements.card.description" | translate }}</p>
      <p class="text">
        {{ language === "en" ? project.descriptionEN : project.descriptionES }}
      </p>
      <p class="title">{{ "achievements.card.tool" | translate }}</p>
      <p class="text">{{ project.tool }}</p>
      <a [href]="project.link" class="text link" target="_blank">
        {{ "achievements.card.link" | translate }}
      </a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="certificate">
  <div class="container">
    <img [src]="certificate.image" class="img-certificate" />

    <div class="info">
      <h3>{{ certificate.name }}</h3>
      <a [href]="certificate.link" class="text link" target="_blank">
        {{ "achievements.card.link" | translate }}
      </a>
    </div>
  </div>
</ng-container>
