<section class="container">
  <p class="achivements">{{ "achievements.title" | translate }}</p>

  <ng-container *ngIf="projects && certificates">
    <h2>{{ "achievements.myProjects" | translate }}</h2>

    <div class="container-projects">
      <img
        src="./assets/icons/back.svg"
        class="arrow"
        (click)="previousProject()"
      />
      <div class="projects" #divProjects>
        <achievements-card
          *ngFor="let project of projects"
          [project]="project"
          [language]="currentLanguage"
        ></achievements-card>
      </div>
      <img
        src="./assets/icons/next.svg"
        class="arrow"
        (click)="nextProject()"
      />
    </div>

    <h2 class="certificates">
      {{ "achievements.approvedCourses" | translate }}
    </h2>

    <div class="container-projects">
      <img
        src="./assets/icons/back.svg"
        class="arrow"
        (click)="previousCertificate()"
      />
      <div class="projects" #divCertificates>
        <achievements-card
          *ngFor="let certificate of certificates"
          [certificate]="certificate"
          [language]="currentLanguage"
        ></achievements-card>
      </div>
      <img
        src="./assets/icons/next.svg"
        class="arrow"
        (click)="nextCertificate()"
      />
    </div>
  </ng-container>

  <div class="loading-container" *ngIf="!(projects && certificates)">
    <general-loading></general-loading>
  </div>
</section>
